<div>
    <h2>Bienvenido {{usuario.email}} </h2>
    <form action="/logout" method="get">
        <input type="submit" value="Desloguear">
    </form>
</div>

<form onsubmit="return addMessage(this)">
    <div class="mb-3 m-3">
        <h3>{{usuario.email}}</h3>
    </div>
    <br>
    <div id="messages" class="alert alert-secondary mb-3 m-3"></div>
    <div class="mb-3 m-3">
        <label for="cuerpo" class="form-label">Mensaje: </label>
        <input name="cuerpo" id="cuerpo" type="text" class="form-control" placeholder="Ingresá un mensaje...">
    </div>
    <input type="submit" value="Enviar" class="m-3 btn btn-primary" required>
</form>





<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect();

    function render(data,id) { 
        let html;
        if(id=='messages'){
            html = data.map(elem => {
                return(`<div>
                    <strong class="text-primary">${elem.email}</strong>:
                    <span class="text-danger">${elem.fechaYHora}: </span>
                    <em class="text-success">${elem.cuerpo}</em> </div>`)
            }).join(" ");
        }
        
        document.getElementById(id).innerHTML = html;
    }

    socket.on('messages', function(data) { render(data,'messages'); });

    function addMessage(e) {
        const mensaje = {
            fechaYHora: Date.now(),
            cuerpo: document.getElementById('cuerpo').value
        };
        socket.emit('new-message', mensaje);
        return false;
    }
</script>
