<form method="post" action="/login">
  <div class="mb-3">
    <label for="email" class="form-label">Correo</label>
    <input name="email" type="email" class="form-control" id="email" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input name="password" type="password" class="form-control" id="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Acceder</button>
</form>