<div>
    <h1>Registro</h1>
    <form action="/register" method="post">
        <div class="mb-3 m-3">
            <label for="nombre" class="form-label">Ingrese su Nombre: </label>
            <input name="nombre" id="nombre" type="text" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label for="email" class="form-label">Ingrese su Correo: </label>
            <input name="email" id="email" type="text" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label for="password" class="form-label">Ingrese su Contraseña: </label>
            <input name="password" id="password" type="password" class="form-control">
        </div>
        <div class="mb-3 m-3">
            <label for="telefono" class="form-label">Ingrese su Telefono: </label>
            <input name="telefono" id="telefono" type="text" class="form-control">
        </div>
        <input type="submit" value="Agregar" class="m-3 btn btn-primary">    
    </form>
    <a class="m-3 btn btn-primary"href="/login">Iniciar Sesion</a>
</div>